openapi: '3.1.0'
info:
  title: API for searching github repositories
  version: 1.0.0
servers:
  - url: https://api.github.com
paths:
  /search/repositories:
    get:
      operationId: searchRepositories
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A success response with a greeting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repositories'
components:
  schemas:
    Repositories:
      type: object
      description: A value with the repositories contents.
      required:
        - total_count
        - items
      properties:
        total_count:
          type: integer
        items:
          type: array
          items:
            type: object
            required:
              - id
              - name
              - full_name
              - language
              - stargazers_count
              - watchers_count
              - forks_count
              - open_issues_count
              - owner
            properties:
              id:
                type: integer
              name:
                type: string
              full_name:
                type: string
              language:
                type: string
              stargazers_count:
                type: integer
              watchers_count:
                type: integer
              forks_count:
                type: integer
              open_issues_count:
                type: integer
              description:
                type: string
              owner:
                type: object
                required:
                  - avatar_url
                  - login
                properties:
                  avatar_url:
                    type: string
                  login:
                    type: string
